
.home__content-desktop-view {
  display: none;
}


.home__content-desktop-table {
  width: 100%;
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-collapse: collapse;
}

.home__content-desktop-table th {
  background-color: var(--primary-color);
  color: var(--white);
  text-align: left;
  padding: 0.75rem 1.5rem;
}

.home__content-desktop-table th {
  text-transform: uppercase;
}

.home__content-desktop-table th:first-child {
  border-top-left-radius: 0.5rem;
}

.home__content-desktop-table th:last-child {
  border-top-right-radius: 0.5rem;
}

.home__content-desktop-table td {
  padding: 1rem 1.5rem;
}

.home__content-desktop-table-row {
  background-color: var(--white);
  border-bottom: 1px solid var(--border-color-light);
}

.home__content-desktop-employee-photo {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;

  object-fit: cover;
  object-position: center;
}


@media (min-width: 768px) {
  .home__content-desktop-view  {
    display: block;
  }
}